body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.Header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
}

.Header-logoContainer {
  flex: 1;
}

.Header-logo {
  display:block; 
  width: 20%;
  height: auto;
  margin: 0 auto;
}
.container-ships{
  margin-top: 15px;
}
